<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style type="text/css">
        @import url(fixedposition.css);
    </style>
    <link rel="stylesheet" type="text/css" href="css/print/fixedpositions.css" />
</head>

<body>
    <h2>EXAMPLE CAFE</h2>
    <img src="images/building.jpg" alt="building" id="building" height="170" width="180">
    <div class="cafe">
        <section id="cafe-section">
            <header>
            </header>
            <p>Welcome to example cafe. We will be developing this site throughout
                the book.</p>
            <h2>A community cafe serving home cooked, locally sourced, organic food</h2>
            <p>With stunning views of the ocean, Example Cafe offers the perfect
                environment to unwind and recharge the batteries.</p>
            <p>Our menu offers a wide range of breakfasts, brunches and lunches,
                including a range of vegetarian options.</p>
            <p>Whether you sip on a fresh, hot coffee or a cooling smoothie, you never
                need to feel rushed - relax with friends or just watch the world go by.</p>
            <img src="images/house.jpg" alt="house" id="house" height="170" width="180">
            <h2>This weekend's special brunch</h2>
            <p>This weekend, our season of special brunches continues with scrambled egg
                on an English muffin. Not for the faint-hearted, the secret to these eggs is
                that they are made with half cream and cooked in butter, with no more than
                four eggs in the pan at a time.</p>
            <div class="spacer"></div>
        </section>
    </div>
    <h2>EXAMPLE CAFE</h2>
    <img src="images/building.jpg" alt="building" id="building1" height="170" width="180">
    <div class="cafe">
        <section id="cafe-section">
            <header>
            </header>
            <p>Welcome to example cafe. We will be developing this site throughout
                the book.</p>
            <h2>A community cafe serving home cooked, locally sourced, organic food</h2>
            <p>With stunning views of the ocean, Example Cafe offers the perfect
                environment to unwind and recharge the batteries.</p>
            <p>Our menu offers a wide range of breakfasts, brunches and lunches,
                including a range of vegetarian options.</p>
            <p>Whether you sip on a fresh, hot coffee or a cooling smoothie, you never
                need to feel rushed - relax with friends or just watch the world go by.</p>
            <img src="images/house.jpg" alt="house" id="house1" height="170" width="180">
            <h2>This weekend's special brunch</h2>
            <p>This weekend, our season of special brunches continues with scrambled egg
                on an English muffin. Not for the faint-hearted, the secret to these eggs is
                that they are made with half cream and cooked in butter, with no more than
                four eggs in the pan at a time.</p>
            <div class="spacer"></div>
        </section>
    </div>
</body>

</html>