ul{
    list-style:circle;
    list-style-position: outside;
}
ol {
    color:red;
}
#u-list-section{
    background-color:green;
    background-attachment:fixed;
    padding:20px;
    padding-top:10px;
    margin:0;
    margin-right: -20px;
    margin-left:-20px;
    margin-top:-20px;
    opacity: 0.8;
    filter: alpha(opacity=10);
}
#o-section{
    margin:0;
    padding:20px;
    margin-left:-8px;
    margin-bottom:-8px;
    background-image:url(images/building.jpg);
    border: 2px solid black;
    background-position:50% top;
    background-attachment:fixed;
}
h2,p,dl{
    color:red;
}
h1{
    text-transform: uppercase;
}
nav{
    word-spacing: 60px;
}
a:hover{
    color: white;
}
