body{
    margin:0;
    font-size: 80%;
    padding: 0;
    overflow: auto;
    box-sizing: border-box;
    color: white;
}
* {
    box-sizing: border-box;
}
.list{
    padding: 5px;
    margin: 10px;
    border: 1px solid #000;
    float: left;
    width: 20%;
}
.u-list{
    text-transform: uppercase;
    padding: 1px;
}
.row{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: blueviolet;
    padding-right: -15px;
    padding-left: -15px;
    margin: 20px;
}
#o-section{
    color: #000;
    padding: 5px;
}
#nav-section{
    flex: 2;
    padding: 5px;
}
#google-section{
    text-align: start;
    padding: 5px;
    flex: 4;
}
#o-sec{
    text-transform: uppercase;
}
#cafe-section{
    padding: 5px;
    flex: 4;
}
#u-list-section{
    flex: 2;
}
